*{
    margin:0;padding:0;
}
ul,ol{
    list-style: none;
}
html,body{
    height:100%;
}
._slide_box{
    overflow:hidden;
}
._slide_box ._slide_item_wrap{
}
._slide_box ._slide_item_wrap ._slide_item{
}
._slide_item img{
}